[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
psycopg2-binary = "*"
django-allauth = ">=0.32.0"
pipenv = "*"
Django = "*"
Pillow = "==7.2.0"

[dev-packages]

[requires]
python_version = "3.7"
